version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: tododb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass123
      MYSQL_ROOT_PASSWORD: root123
    volumes:
      - db_data:/var/lib/mysql

  web:
    build:
      context: .
    command: sh -c "sleep 10 && python manage.py migrate && gunicorn --bind 0.0.0.0:8000 myproject.wsgi:application"

    volumes:
      - .:/app
    ports:
      - "80:8000"
    depends_on:
      - db

volumes:
  db_data:
